#clock {
  font-size: 4em;
  text-align: center;
  margin-top: 1px;
  color: #000000;
}

#darkMode #clock {
  color: #ffffff;
}

#hours,
#minutes,
#seconds {
  display: inline-flex;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 0 0px;
}

#hours {
  background-color: #ffffff;
  font-weight: 400;
}

#darkMode #hours {
  background-color: #000000;
}

#minutes {
  background-color: #ffffff;
  font-weight: 400;
}

#darkMode #minutes {
  background-color: #000000;
}

#seconds {
  background-color: #ffffff;
  font-weight: 400;
}

#darkMode #seconds {
  background-color: #000000;
}

#text p {
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  margin-top: 240px;
}

#darkMode #text p {
  color: #ffffff;
}

.gg-dark-mode {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  border: 2px solid;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.gg-dark-mode::after,
.gg-dark-mode::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.gg-dark-mode::before {
  border: 5px solid;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: 0;
  width: 9px;
  height: 18px;
  top: -1px;
  left: -1px;
}

.gg-dark-mode::after {
  border: 4px solid;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 0;
  width: 4px;
  height: 8px;
  right: 4px;
  top: 4px;
}

#darkMode {
  background: #000000;
}

.button {
  color: rgb(0, 0, 0);
  border: #ffffff;
  border-radius: 8px;
  visibility: 20%;
  font-size: medium;
  font-display: flex;
  font-weight: 400;
  background-color: #ffffff;
}
